.what .items {
    display: block;
    padding: 1rem;
}

.what .items .item {
    display: flex;
    text-align: left;
}

.what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .menu-items {
        padding: 0.5rem;
    }

    .who {
        display: block;
    }

    .who img {
        display: none;
    }

    .clients .items img {
        width: 80%;
    }

    .contact {
        flex-direction: column;
    }

    .contact .map {
        height: 200px;
    }
}

@media (max-width: 368px) {
 .large-heading {
     font-size: 2.5rem;
 }

 .lead {
     font-size: 1rem;
 }
}